.colored {
    color: #7FFFD4;
}
.white{
    color: #fff;
}
.savoir-faire {
    height: 50vw;
    position: relative;
    background-image: linear-gradient(to top, rgba(18,42, 66, .9), rgba(21, 159, 207, .9)),
                      url("/assets/images/bgnew.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: unset;
    align-items: center;
    justify-content: space-around;
    padding-top: 6em;
    padding-bottom: 6em;
}
.title {
    font-size: 1.8em;
    margin-bottom: 0;
    margin-top: 0;
}
.info-savoir{
    width: 30%;
    font-size: 1.125em;
}

.numero {
    padding: 1em 1.25em;
    background-color: #fff;
    text-decoration: none;
    color: #fff;
    background-color: #269D54;
    border-radius: 20px;
    border: 2px white solid;
    transition: all .5s;
}
.numero:hover {
    background-color: #fff;
    color: #269D54;
    border: 2px solid #269D54;

}
.info-inutile {
    font-size: 8px;
}

.btn4 {
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: #7FFFD4;
    color: black;
    transition: all .5s;
}

.btn4:hover {
    background-color: black;
    color: #7FFFD4;
}



/* -----------------------
    SAVOIR-FAIRE - query
    --------------------- */
    
@media (max-width:920px) {
    .savoir-faire {
        height: 105vh;
        display: block;
        text-align: center;
        margin-top: 0;
        width: 100%;
    }
    .title {
        font-size: 1.2em;
        margin-top: -3em;
    }
    .info-savoir{
        font-size: 1em;
        margin-top: 0;
        width: 100%;
        margin: 2em auto;
        padding: 3em 1em;
    }
    .container-savoir{
        display: block;
        margin: 0 auto;
    }

}