
/* -----------------------
    CONTACT-US SECTION  :
   ----------------------- */


.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
}

#contact-us #icon {
    padding: 0 1em;
    color: #961400;
}

#contact-us .text {
    padding: 0.8em;
    border: #961400 1px solid;
}

#contact-us .text-long {
    padding-right: 16.7em;
    margin: 0.4em 0;
}

#contact-us .text-message {
    padding-bottom: 10em;
    padding-right: 16.7em;
}

#contact-us .btn { 
    background: #961400;
    border: none;
    color: white;
    font-size: 0.8em;
    padding: 0.8em 2em;
    margin-top: 1em;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
}

#contact-us #fb-btn,
#contact-us #in-btn {
    padding: 0.6em;
    font-size: 0.9em;
    border: #961400 solid 1px;
    border-radius: 100px;
    color: #961400;
    margin-right: 0.3em;
}

#contact-us #fb-btn:hover,
#contact-us #in-btn:hover {
    background: #961400;
    color: white;
}

.title-info {
    border-right: 2px solid #961400;
    padding-right: 1em;
    border-left: 2px solid #961400;
    padding-left: 1em;
    text-align: center;
}

.information {
    border-right: 2px solid #961400;
    padding-right: 1.5em;
    padding-top: 3em;
}

.form {
    border-right: 2px solid #961400;
    padding-right: 2em;
}



#text1,
#text2 {
    margin: 0;
    padding: 0;
    width: 49%;
    display: inline-block;
}

#text3 {
    width: 99%;
}

#text4 {
    width: 99%;
}

#text1,
#text2,
#text3,
#text4 {
    font-family: 'Montserrat', sans-serif;
}

.submitButton {
    display: block;
    margin: 1em auto;
    padding: 1em 2em;
    
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    background-color: #961400;
    color: #fff;
    transform: scale(1);
    transition: 250ms;
}

.submitButton:hover {
    background-color: #fff;
    color: #961400;
    transform: scale(0.9);
    cursor: pointer;
}

@media (max-width: 600px) {
    #contact-us {
        background-color: #fff;
    }

    .contact-us {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1.5em 1em;
    }

    .title-info {
        border: none;
        border-bottom: 2px solid #961400;
        padding: 1em;
        text-align: center;
    }
    
    .information {
        border: none;
        border-bottom: 2px solid #961400;
        padding-bottom: 1.5em;
        padding-top: 2em;
        padding-bottom: 1em;
    }
    
    .form {
        border: none;
        text-align: center;
        padding-top: 1em;
        padding-left: 1.5em;
    }
    
} 