/* -----------
    BASIC CSS SETUP :
   ----------- */
 
html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* -----------
    SELECTION COLOR :
   ----------- */

*::selection {    
    background: #0cadad;
}

/* -----------
    LOGO :
   ----------- */


@media(max-width: 600px) {
    #newLogoKenzmedia {
        width: 100vw;
        height: auto;
    }
}



#logo {
    margin: .65em auto;
}

 
.kenz,
.media {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6em;
}
.kenz {
    color: #8B0000;
}
.media {
    color:#a08d86;
}
.logo {
    text-decoration: none;
}

.gray {
    color: #a08d86;
}

/* -----------
    NAVIGATION BAR :
   ----------- */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 120px;
    background-color: #fff;
    position: fixed; 
    top: 0;
    width: 100%;
    border-bottom: 2.5px solid #8B0000;
    z-index: 9999;
}

.navigation a {
    font-family: 'Barlow Condensed', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
}

li {
    list-style: none;
    margin: 1.6em .5em 0 .5em; 
}

    /* NAVIGATION MEDIA QUERY */
    @media (max-width: 600px) {
        .navigation {
            display: inline-block;
            height: auto;
            /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%238b0000' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%238b0000'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E"); */
            position: relative;
            text-align: center;
            top: 0;
            width : 100%;
            border-bottom: none;
            z-index: 9999;
            margin: 0;
            padding: 0;
        } 
        nav ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: none;
        }
        li {
            list-style: none;
            margin: 0 -.5em; 
            display: none;
        }
    }


/* ----------------------------------
    NAVIGATION BAR BORDER TRANSITION :
   ---------------------------------- */

nav ul li a,nav ul li a:hover {
    text-transform: uppercase;
    color: #8B0000;
    text-decoration: none;
    font-size: 1.25em;
    letter-spacing: 1.5px;
}

nav ul li a {
    transition: 300ms;
}

nav ul li a:hover {
    color: #8B0000;
}

li {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li:hover:after {
    width: 100%;
    background: #8B0000;
}

header {
    padding: 0 .5em;
    margin: 0;
}


/* --------------------------
    SECTION HEADERS && FOOTER  :
   -------------------------- */

.sectionTitle {
    width: 100%;
    margin: 0;
    text-align: center;
    background: linear-gradient(16deg, rgba(139,0,0,1) 0%, rgba(0,0,0,1) 29%, rgba(150,155,138,1) 52%, rgba(0,0,0,1) 71%, rgba(139,0,0,1) 100%);
    color: #fff;
    padding: .75em 1.75em;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: uppercase; 
}

footer {
    background: radial-gradient(circle, rgba(0,0,0,1) 42%, rgba(139,0,0,1) 70%);
    color: #fff;
    padding: 1.25em;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 500; 
}

    /* SECTIONS TITLES AND FOOTER MEDIA QUERY */
    @media(max-width:600px) {
        .sectionTitle {
            padding: .5em;
            font-size: 1.75em;
            letter-spacing: 1px;
            line-height: 1.3;
        }
    }


/* -----------
    HOME SECTION  :
   ----------- */

#home {
    width: 100%;
    height: 100vh;
    max-height: 86vh; 
    position: relative;
    top: 14vh;
    margin-bottom: -2em; 
    background-color: #291919;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%238b0000'/%3E%3Cstop offset='1' stop-color='%238b0000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23e4e5ff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
    background-attachment: local;
    background-size: cover;   
}

#homeHeader {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    padding-top: 2em;
    color: #fff;
    text-align: center;
    font-size: 3.6em;
}

.homeContent {
    color: #fff;
    width: 50%;
    margin: 20px auto;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 55px;
    line-height: 20px;
}

#alignBtn {
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #fff;
    color: #8B0000;
    padding: .75em 1.5em;
    border-radius: 20px;
    font-weight: 700;
    border: 2px solid #8B0000;
    transition: 100ms;
    transform: scale(1);
    text-decoration: none;
}



.btn:hover {
    transform: scale(0.9);
    opacity: 0.7;
}

/* HOME SECTION MEDIA QUERY  */

@media (max-width: 700px) {
	
    #home {
        width: 100%;
        height: 55vh;
        min-height: 60.5vh;
        max-height: 70.5vh; 
        position: relative;
        top: 0;
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%238b0000'/%3E%3Cstop offset='1' stop-color='%238b0000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23e4e5ff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;  
		margin-bottom: 4.5em;
		/* padding-bottom: 16em; */
    }
    
    #homeHeader {
        width: 80%;
        color: #fff;
        text-align: center;
        font-size: 2em;
        margin: 0 auto;
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 0;

    }
    
    .homeContent {
        color: #fff;
        width: 80%;
        max-height: 25vh;
        text-align: center;
        font-weight: 500;
        letter-spacing: 2px;
        text-align: center;
        line-height: 20px;
        font-size: 1em;
        margin: 0 auto;
        padding-bottom: 0;
    }
    
    #alignBtn {
        text-align: center;
    }
    
    .btn {
        display: inline-block;
        background-color: #fff;
        color: #8B0000;
        border-radius: 30px;
        font-weight: 500;
        border: 3px solid #8B0000;
        transition: 200ms;
        text-decoration: none;
        padding: .5em 1em;
        margin-bottom: 4em;
        margin-top: 3.5em;
    }
}

/* -----------------------
    PRESENTATION SECTION  :
   ----------------------- */
#presentation {
    font-weight: 700;
    margin-bottom: 4em;
}

#presentation-gif {
    max-height: 80vh;
}

@media (max-width: 768px) {
    #presentation-gif {
        margin-top: 40em;
    }
}

.flexDisplay {
    display: flex;
    flex-direction: row;
}

.firstSection {
    background-color: #fff;
    color: #000;
    font-size: 1.1em;
    line-height: 27px;
    height: 82.2vh;     
}

.intro {
    margin-top: 18vh;
}

.container {
    width: 35%;
    padding: 3em .5em;
    margin: 3em auto;
    text-align: center;
}


    /* PRESENTATION SECTION MEDIA QUERY: */
    @media(max-width: 700px) {
        #presentation-gif {
            max-width: 100vw;
            max-height: auto;
            object-fit: cover;
            margin: 0 auto;
        }
        .intro {
            margin-top: -10vh;
        }
        
        .flexDisplay {
            display: flex;
            flex-direction: column;
        }
        
        .firstSection {
            background-color: #fff;
            color: #000;
            font-size: 1.125em;
            line-height: 1.3;
            height: auto;     
        }
        
        .intro {
            margin-top: -2.5em;
        }
        
        .container {
            width: 90%;
            padding: 1em .5em;
            margin: 1em auto;
            text-align: left;
            font-size: .85em;
            font-weight: 500;
        }
    }


/* -----------------------
    DANS NOTRE ADN SECTION  :
   ----------------------- */

#ADN-kenzmedia {
    margin-bottom: 2em;
}
.ADN-main {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ADN-content {
    width: 49%;
    color: #000;
    text-align: center;
    margin-top: 6em;
}

.ADN-gif {
    max-width: 50vw;
    max-height: auto;
    margin-top: 2em;
}

.ADN-details {
    font-size: .85em;
    width: 80%;
    color: #ffdb42;
}

.ADN-content h5 {
    font-size: 1.1rem;
}

@media(max-width: 600px) {
    .ADN-main {
        flex-flow: column wrap;
        align-items: center;
    }
    .ADN-gif {
        display: block;
        align-self: center;
    }
    .ADN-content {
        width: 90%;
    }
    .ADN-nomobile {
        display: none;
    }
    .ADN-details {
        font-size: .85em;
        width: 100%;
        padding: .5em;
    }
}

/* -----------------------
    SERVICES SECTION  :
   ----------------------- */

   /* STYLE IN SERVICES.CSS */

/* -----------------------
    TECHNOLOGIES SECTION  :
   ----------------------- */

#technologies {
    padding: 0;
}

.tech-intro {
    padding: .5em 1.5em;
    margin-top: 2em;
    font-size: 1.1em;
}

@media(min-width: 600px) {
    .tech-intro {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        padding-top: 2em; 
    }
}

/*Section Title*/
* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'Proxima Nova', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}


/*Links Container*/
.technologies__links {
    display: flex;
    flex-wrap: wrap;
    padding: 1.875rem;
    justify-content: center;
    position: relative;
}

.technologies__links:after {
    content: "";
    bottom: 30%;
    left: 0;
    right: 0;
    top: 30%;
    position: absolute;
}

/* Link */
.technologies__links--item {
    padding-top: 0rem;
    padding-bottom: 0rem;
    border: 0.625rem solid transparent;
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    position: relative;
    z-index: 1;
}

.technologies__links--item:after {
    background-color:  #8b0000;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 50%;
    transition: transform .3s;
    margin: auto;
    position: absolute;
    z-index: -1;
}

.item--even:after {
    transform: translateY(-20px);
}

.item--odd:after {
    transform: translateY(20px);
}

.technologies__links--item:hover::after {
    transform: translateY(0px);
}

.technologies__links--item:focus::after {
    transform: translateY(0px);
}

/* Link Item */
.item__tech {
    overflow: hidden;
}

/* Link Item logo */
.item__tech--logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .3s;
    padding: 50%;
    position: relative;
}

/* logo overlay */
.item__tech--logo::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #575656;
}

.technologies__links--item:hover .item__tech--logo {
    transform: scale(1.1, 1.1);
}

.technologies__links--item:focus .item__tech--logo {
    transform: scale(1.1, 1.1);
}

/* technology name */
.item__tech--name {
    color: #fff;
    font-size: 0.75rem;
    left: 10%;
    letter-spacing: 1.8px;
    position: absolute;
    right: 10%;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    z-index: 1;
}

.technologies__links--item:hover .item__tech--logo::after {
    opacity: .8;
}

.technologies__links--item:focus .item__tech--logo::after {
    opacity: .8;
}

@media only screen and (max-width:599px) {
    .item--resizer {
        width: 50%;
    }

    .technologies__title {
        font-size: 0.8rem;
    }

    .technologies__links {
        padding: 1rem 0.2rem 1rem 0.2rem;
    }
}

@media only screen and (min-width: 600px) {
    .item--resizer {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .item--resizer {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .item--resizer {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {
    .item--resizer {
        width: 25%;
    }
}

/* -----------------------
    REALISATIONS SECTION  :
   ----------------------- */

#realisations {
    padding: 0;
}

.project-title {
    font-size: 1.75em;	
    text-align: center;
    display: inline;
    margin: 0 auto;
}

.projects {
	margin-bottom:50px;
	margin-top:25px;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
}

.project {
	margin: 16px;
	border-radius: 5px;
	width: 25%;
	height: auto;
	display:flex;
	flex-direction:column;
    padding: .65em;
    border: 1px solid #8B0000;
    box-shadow: -9px 12px 20px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 12px 20px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 12px 20px 3px rgba(0,0,0,0.75);
    transition: 150ms;
}

.project:hover {
    box-shadow: none;
}


.project-image {
    object-fit: cover;
	width:100%;
	height: auto;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.project-info {
    color: #8B0000;
    font-weight: 500;
    text-align: left;
}

.project-more {
    text-align: center;
}

.project-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    align-items: center;
}

@media(max-width: 600px) {
    .project {
        width: 90%;
    }
    .project-more {
        text-align: left;
    }
    .project-info {
        text-align: left;
    }
}


/* -----------------------
    REFERENCES SECTION  :
   ----------------------- */

.ref-mobile {
    display: none;
}

.ref-intro {
    text-align: center;
    background-color: #dedcdc;
    padding: 0;
    margin: 0;
    padding: 1.5em;
}

#ref-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: #dedcdc;
    margin-top: 0;
    padding-bottom: 2em;
    padding: 1.5em;
}

.ref-logo {
    width: 15%;
    height: auto;
    max-width: 15vw;
    max-height: 15vh;
    object-fit: cover;
    background-color: #fff;
    border: 2px solid #8B0000;
    border-radius: 10px;
    margin: .65em;
    overflow: hidden;
    transition: transform .5s ease;
    position: relative;
}

.ref-logo:hover {
    transform: scale(0.9);
}

@media(max-width: 600px) {
    #ref-div {
        display: none;
    }

    .ref-intro {
        text-align: center;
        background-color: #fff;
        padding: 0;
        margin: 0;
        padding: 1.5em;
    }

    .ref-mobile {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .ref-logo {
        width: 35%;
        height: auto;
        max-width: 40vw;
        max-height: 40vh;
        object-fit: cover;
        background-color: #fff;
        border: 2px solid #8B0000;
        border-radius: 5px;
        margin: .5em;
        overflow: hidden;
        transition: transform .5s ease;
        position: relative;
    }
}


/* -----------------------
    EQUIPE SECTION  :
   ----------------------- */

#equipe {
    background-color: #dedcdc;
    padding: 0;
}

.equipe-intro {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: .5em;
}

.equipe-container {
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;

}

.equipe-members {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.equipe-member {
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(139,0,0,1) 100%);
    width: 20%;
    text-align: center;
    border: 2px solid #fff;
    padding: 1.5em;
    margin-bottom: 1em;
    color: #fff;
    border-radius: 10px;
    margin: 1.5em 0;
    transition: 150ms;
}

.equipe-member:hover {
    transform: scale(0.9);
}

.director {
    margin: 1em auto;
    width: 40%;
}

.equipe-member-name {
    margin-top: 0;
    font-weight: 700;
}

.equipe-member img {
    object-fit: cover;
    zoom: 80%;
    margin-bottom: 0;
    margin-top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: .5em;
}

/* EQUIPE MEDIA QUERY : */

@media (max-width: 600px) {
    #equipe {
        background-color: #fff;
        padding: 1em .25em;
    }

    .equipe-intro {
        width: 95%;
        margin: 0 auto;
        text-align: left;
        padding: 1.5em;
    }

    .equipe-container {
        display: flex;
        flex-flow: column wrap;    
    }
    
    .equipe-members {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    
    .equipe-member {
        width: 70%;
        text-align: center;
        border: 1px solid #2e2e2d;
        padding: 1em 0;
        margin-bottom: 1em;
        color: #fff;
        border-radius: 10px;
        margin: 1em 2m;
        transition: 250ms;
    }
    .equipe-member:hover {
        transform: scale(0.9);
    }
    
    .director {
        align-self: stretch;
        justify-content: center;
        margin: 1em auto;
        width: 90%;
    }
    
    .equipe-member-name {
        margin-top: 0;
        font-weight: 700;
    }
    
    .equipe-member img {
        object-fit: cover;
        zoom: 85%;
        margin-bottom: 0;
        margin-top: 0;
        border: 1px solid #2e2e2d;
        border-radius: 50%;     
        height: 150px;
        width: 150px;
        padding: 0.5em;
    }
}


/* -----------------------
    POURQUOI KENZMEDIA ? SECTION  :
   ----------------------- */

#pourquoi-kenzmedia {
    background-color: #dedcdc;
}
 
.far {
    font-size: 2em;
    color: #8b0000;
}

.pourquoi-content {
    font-size: 1.125em;
    text-align: left;
    padding: 2em;
}

@media(min-width: 600px) {
    .pourquoi-content {
        width: 50%;
        margin: 0 auto;
        padding: .65em;
    }
    .pourquoi-content p {
        padding: .15em 0;
    }
}

/* -----------------------
    CONTACT-US SECTION  :
   ----------------------- */

#contact-us {
    border-bottom: 2px solid #8B0000;
    background-color: #dedcdc;
}

.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 4.5em 1em;
}

#contact-us #icon {
    padding: 0 1em;
    color: #8B0000;
}

#contact-us .text {
    padding: 0.8em;
    border: #8B0000 1px solid;
}

#contact-us .text-long {
    padding-right: 16.7em;
    margin: 0.4em 0;
}

#contact-us .text-message {
    padding-bottom: 10em;
    padding-right: 16.7em;
}

#contact-us .btn { 
    background: #8B0000;
    border: none;
    color: white;
    font-size: 0.8em;
    padding: 0.8em 2em;
    margin-top: 1em;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
}

#contact-us #fb-btn,
#contact-us #in-btn {
    padding: 0.6em;
    font-size: 0.9em;
    border: #8B0000 solid 1px;
    border-radius: 100px;
    color: #8B0000;
    margin-right: 0.3em;
}

#contact-us #fb-btn:hover,
#contact-us #in-btn:hover {
    background: #8B0000;
    color: white;
}

.title-info {
    border-right: 2px solid #8B0000;
    padding-right: 1em;
    border-left: 2px solid #8B0000;
    padding-left: 1em;
    text-align: center;
}

.information {
    border-right: 2px solid #8B0000;
    padding-right: 1.5em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.form {
    border-right: 2px solid #8B0000;
    padding-right: 2em;
}



#text1,
#text2 {
    margin: 0;
    padding: 0;
    width: 49%;
    display: inline-block;
}

#text3 {
    width: 99%;
}

#text4 {
    width: 99%;
}

#text1,
#text2,
#text3,
#text4 {
    font-family: 'Montserrat', sans-serif;
}

.submitButton {
    display: block;
    margin: 1em auto;
    padding: 1.125em 2.5em;
    font-family: inherit;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    background-color: #8B0000;
    color: #fff;
    transform: scale(1);
    transition: 250ms;
}

.submitButton:hover {
    background-color: #fff;
    color: #8B0000;
    transform: scale(0.9);
    cursor: pointer;
}

@media (max-width: 600px) {
    #contact-us {
        background-color: #fff;
    }

    .contact-us {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1.5em 1em;
    }

    .title-info {
        border: none;
        border-bottom: 2px solid #8B0000;
        padding-bottom: 1em;
        text-align: center;
    }
    
    .information {
        border: none;
        border-bottom: 2px solid #8B0000;
        padding-bottom: 1.5em;
        padding-top: 2em;
        padding-bottom: 1em;
    }
    
    .form {
        border: none;
        text-align: center;
        padding-top: 1em;
        padding-left: 1.5em;
    }
    #text1,
    #text2 {
        margin: 0;
        padding: 0;
        width: 39%;
        display: inline-block;
    }

    #text3 {
        width: 80%;
    }

    #text4 {
        width: 80%;
    }
}

/* -----------------------
    LOCALISATION SECTION  :
   ----------------------- */

#gmap_canvas {
    width: 100%;
    height: 60vh;
}

@media(max-width: 600px) {
    #gmap_canvas {
        width: 100%;
        height: 50vh;
    }
}


/* -----------------------
    RANDOM FEATURES  :
   ----------------------- */

   /* SCROLL TO TOP */
    #back2Top {
        width: 35px;
        line-height: 35px;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        position: fixed;
        bottom: -8px;
        right: 4px;
        background-color: #8B0000;
        color: #fff;
        text-align: center;
        font-size: 15px;
        text-decoration: none;
        border: 2px solid #8b0000;
        border-radius: 2px;
        opacity: 0.8;
    }

    #back2Top:hover {
        background-color: #fff;
        color: #8B0000;
    }
    
    @media(max-width: 600px) {
        #back2Top {
            display: none;
            position: absolute;
            z-index: -1;
        }
    }

    /* SCROLLBAR CUSTOM : */

::-webkit-scrollbar-track {
	background-color: #f5f5f5;
    border-left: 2px solid #8b0000;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #b80707
    ;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}
